*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
html,body{
    background-color: rgb(184, 140, 202);
    line-height: 1.4;
    font-weight: 300;
}
.Resources_head1{

    margin-top: 10%;
    margin-left: 10%;
}
.Resources_cointainer1{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display:flex;
}
.Resources_cointainer1_1img{
    width: 80%;
    height: auto;
}
.Resources_cointainer1_2img{
    width: 80%;
    height: auto;
}
.Resources_cointainer1_3img{
    width: 80%;
    height: auto;
}
.Resources_cointainer1_para{
    color: black;
}
.Resources_cointainer1_head{
    margin-top: 3%;
    color: rgb(135, 77, 2);
    font-size: 25px;
}
.Resources_cointainer2{
    margin-top: 10%;
}

.Resources_cointainer2_1{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display:flex;
}
.Resources_cointainer2_2{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display:flex;
}
.Resources_cointainer2_3{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display:flex;
}
.Resources_cointainer2_4{
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    display:flex;
}
.Resources_cointainer2_1img{
    width: 60%;
    height: auto;
}
.Resources_cointainer2_2img{
    width: 60%;
    height: auto;
}
.Resources_cointainer3_3img{
    width: 60%;
    height: auto;
}
.Resources_cointainer4_4img{
    width: 60%;
    height: auto;
}
.Resources_Cointainer2_leftside{
    margin-top: 8%;
    margin-left: 4%;
    
}
.Resources_Cointainer2_leftside h1{
    font-size: 40px;
}
.Resources_Cointainer2_leftside button{

    border:black;
    color: white;
    background-color: rgb(124, 80, 80);
    padding: 10px 13px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 30px;
}